<h1>Subjects Page</h1>

<h2>List of pages</h2>
<ul>
	<li><%= link_to('page 1', {:action => 'pages'}) %></li>
	<li><%= link_to('page 2', {:action => 'pages'}) %></li>
	<li><%= link_to('page 3', {:action => 'pages'}) %></li>
</ul>